.App {
  text-align: center;
  background-color: #e3e9ff;
  height: 100vh;
  width: 100vw;
}

.notes-card-parent {
  flex-direction: column !important;
}
.notes-card-parent>h3 {
color:white !important;
background-color: #ad7eea ;

}

.notes-li:hover{
  background-color: rgba(128, 128, 128,0.3) !important;
}

.notes-li{
  padding: 5px;
  cursor: pointer;
  margin: 10px ;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.notes-icon {
  font-size: x-large !important;
  color: rgba(0, 0, 0,0.4) !important;
}
.notes-icon:hover {
  color: black !important;
}
.add-note-btn{
  background-color: #ad7eea  !important;
  border: none !important;
  width: 30% !important;
  font-size: large !important;
}
.add-note-btn:hover , .save-note:hover{
  background-color: #9c69df  !important;

}
.save-note {
  background-color: #ad7eea !important;
  border: none !important;
}



.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.view-note-space {
  display: flex !important;
  flex-direction: column !important;
  border: 2px solid red;
}


@media screen and (max-width: 768px) {
  .add-note-btn , .notes-card-parent {
    width: 100% !important;
  }

}

